In [1]:
import pandas as pd

In [2]:
with open("day3.txt") as f:
    bit_rows = [tuple(line.rstrip()) for line in f.readlines()]
bit_rows[:5]

[('1', '0', '1', '0', '0', '1', '1', '0', '0', '0', '1', '0'),
 ('0', '1', '0', '1', '0', '0', '0', '0', '1', '0', '1', '1'),
 ('0', '1', '0', '0', '1', '0', '0', '1', '0', '1', '0', '1'),
 ('1', '1', '0', '1', '0', '0', '0', '1', '1', '0', '1', '0'),
 ('0', '0', '1', '1', '0', '0', '1', '0', '0', '0', '0', '1')]

In [3]:
df = pd.DataFrame(bit_rows)
df.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  0  1  0  0  1  1  0  0  0  1  0
1  0  1  0  1  0  0  0  0  1  0  1  1
2  0  1  0  0  1  0  0  1  0  1  0  1
3  1  1  0  1  0  0  0  1  1  0  1  0
4  0  0  1  1  0  0  1  0  0  0  0  1

In [4]:
df = df.astype("int8")
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   0   1   0   0   1   1   0   0   0   1   0
1   0   1   0   1   0   0   0   0   1   0   1   1
2   0   1   0   0   1   0   0   1   0   1   0   1
3   1   1   0   1   0   0   0   1   1   0   1   0
4   0   0   1   1   0   0   1   0   0   0   0   1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   int8
 1   1       1000 non-null   int8
 2   2       1000 non-null   int8
 3   3       1000 non-null   int8
 4   4       1000 non-null   int8
 5   5       1000 non-null   int8
 6   6       1000 non-null   int8
 7   7       1000 non-null   int8
 8   8       1000 non-null   int8
 9   9       1000 non-null   int8
 10  10      1000 non-null   int8
 11  11      1000 non-null   int8
dtypes: int8(12)
memory usage: 11.8 KB

In [6]:
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   0   1   0   0   1   1   0   0   0   1   0
1   0   1   0   1   0   0   0   0   1   0   1   1
2   0   1   0   0   1   0   0   1   0   1   0   1
3   1   1   0   1   0   0   0   1   1   0   1   0
4   0   0   1   1   0   0   1   0   0   0   0   1

In [11]:
df.value_counts()

0  1  2  3  4  5  6  7  8  9  10  11
0  0  0  0  0  0  0  0  0  0  1   1     1
1  0  1  0  1  0  1  1  1  1  1   0     1
                  0  0  1  1  0   1     1
                              1   1     1
                     1  0  0  0   0     1
                                       ..
0  1  0  1  0  1  1  0  0  1  0   1     1
                              1   0     1
                                  1     1
                        1  1  0   0     1
1  1  1  1  1  1  1  1  1  0  1   1     1
Length: 1000, dtype: int64

In [9]:
type(df.value_counts())

pandas.core.series.Series

In [8]:
pd.__version__

'1.2.3'

In [10]:
df.count()

0     1000
1     1000
2     1000
3     1000
4     1000
5     1000
6     1000
7     1000
8     1000
9     1000
10    1000
11    1000
dtype: int64

In [17]:
df.columns

RangeIndex(start=0, stop=12, step=1)

In [18]:
df.iloc[:,df.columns[:5]].head()

   0  1  2  3  4
0  1  0  1  0  0
1  0  1  0  1  0
2  0  1  0  0  1
3  1  1  0  1  0
4  0  0  1  1  0